body {
    padding: 0;
    margin: 0;
}
.container {
    background-color: rgba(57, 7, 7, 0.664);
    padding-top: 0px;
    border-color: black;
    display: sticky;
}
.cool-nav {
    padding: 10px;
  }
  
  .cool-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .cool-nav li {
    display: inline-block;
  }
  
  .cool-nav li a {
    display: block;
    padding: 5px 10px;
    color: #ffff00;
    text-decoration: none;
    transition: background-color 0.3s ease;
    padding: 1;  
  }
  
  .cool-nav li a:hover {
    color: #66ff00;
  }
  .button-container {
    width: 100%;
    overflow-x: auto;
    background-color: #d607075b;
  }
  
  .scrollable-wrapper {
    white-space: nowrap;
  }
  
  .button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ffb300;
    color: white;
    text-decoration: none;
    border-radius: 10px;
  }
.button:hover{
    background-color: rgb(255, 94, 252);
}  
.h {
    background-color: rgb(168, 37, 215);
    color: white;
    font-family: 15px;
    text-align: center;
    padding: 30px;
    position: sticky;
    padding: 10;
}
table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    color: white;
  }

  